{{#each locations as |location|}}

 <!-- Developers, why are we using data-id and not just id? -->
  <div>
  <ul data-id="{{location.id}}">
  <li><h1> <small>Address: {{location.address}}</small></h1></li>
  <li><h2> <small>Business Type: {{location.business}}</small></h2></li>
  <li><h2> <small>Insured Units: {{location.units}}</small></h2></li>
  <li><h2> <small>Company: {{location.company}}</small></h2></li>
  <li><h2> <small>Compliance Errors: {{location.compliance}}</small></h2></li>
  <li><h2> <small>Inspection Date: {{location.inspection}}</small></h2></li>
  <li><button class="removeButton btn btn-default">Remove Location</button></li>
  <li><div class="updateButton" id="updateHandleButton">
    <button type="button" class="asideButton btn-default" data-toggle="modal" data-target="#updateLocationModal">
      Update Location
    </button>
    <form class="dataAccess" id="updateLocation">
    <div class="modal fade" id="updateLocationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="signInModalLabel">Update Location</h3>
          </div>
          <div class="modal-body">
            <h3 class="modalAccountHeader">Address</h3>
            <input class='fillbox' type="text" name="locations[address]" id="addressUpdate" placeholder="Enter Address">
            <div class="form-group">
              <label for="exampleSelect1">Business Type</label>
              <select class="form-control" id="exampleSelect1" name="location[business]">
                <option>Service</option>
                <option>Merchandising</option>
                <option>Manufacturing</option>
                <option>Hybrid</option>
                <option>Other</option>
              </select>
            </div>
            <h3 class="modalAccountHeader">Units Insured</h3>
            <input class='fillbox' type="text" name="locations[units]" id="unitUpdate" placeholder="Enter Units Insured">
            <h3 class="modalAccountHeader">Company</h3>
            <input class='fillbox' type="text" name="locations[company]" id="companyUpdate" placeholder="Enter Company Name">
            <h3 class="modalAccountHeader">Compliance Errors</h3>
            <input class='fillbox' type="text" name="locations[compliance]" id="complianceUpdate" placeholder="Enter Number of Compliance Errors">
            <h3 class="modalAccountHeader">Inspection Date</h3>
            <input class='fillbox' type="text" name="locations[inspection]" id="inspectionUpdate" placeholder="Enter Next Inspection Date">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-danger modalCloseButton" data-dismiss="modal">Close</button>
            <button type="submit" class="btn-danger modalConfirmButton" id="updateFormButton">Update Location</button>
          </div>
        </div>
      </div>
    </div>
    </form>
  </li>
  </ul>
  </div>

{{/each}}
