{{#each locations as |location|}}

 <!-- Developers, why are we using data-id and not just id? -->
  <div>
  <ul data-id="{{location.id}}">
  <li><h1> <small>Address: {{location.address}}</small></h1></li>
  <li><h2> <small>Business Type: {{location.business}}</small></h2></li>
  <li><h2> <small>Insured Units: {{location.units}}</small></h2></li>
  <li><h2> <small>Company: {{location.company}}</small></h2></li>
  <li><h2> <small>Compliance Errors: {{location.compliance}}</small></h2></li>
  <li><h2> <small>Inspection Date: {{location.inspection}}</small></h2></li>
  <li><button class="removeButton btn btn-default">Remove Location</button></li>
  </ul>
  </div>

{{/each}}
